.horizontal-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

ion-card-title{
  margin-bottom: 5px;
}
