ion-toolbar{
  --background: var(--ion-color-primary);
  --border-style: none;
  color: white;

}

ion-menu-button{
  --color: white;
}

ion-content{
  --background: var(--ion-color-primary);
  --border-style: none;
  color: white;

}

ion-item{
  --background: var(--ion-color-primary);
  --border-style: none;
  color: white;

}
