<ion-content class="ion-padding">
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="add-card">
      <ion-button shape="round" color="secondary" (click)="onClickAddCall()"
        ><p>Adicionar chamada</p></ion-button
      >
    </div>
    <ion-content>
      <div *ngFor="let call of listCall">
        <app-card [callData]="call" (deleteEvent)="delete($event)" (updateEvent)="update($event)"></app-card>
      </div>
    </ion-content>
  </div>
</ion-content>
