<ion-content class="ion-padding">

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="header">
        <p>Dados Chamado</p>
        <div class="line"></div>
      </div>

      <div class="form">


        <div class="image-container" (click)="takePicture()" [style.backgroundImage]="'url(' + selectedImage + ')'"></div>

        <ion-input  [(ngModel)]="title"  placeholder="Titulo" class="custom" type="text"></ion-input>

        <ion-input id="open-custom-dialog" [(ngModel)]="priority"  placeholder="Prioridade" class="custom" type="text"></ion-input>
        <ion-modal class="modal" id="example-modal" #modal trigger="open-custom-dialog">
          <ng-template>
              <ion-list lines="none">
                <ion-item button="true" detail="false" (click)="getValueModal('urgente')">
                  <ion-label>Urgente</ion-label>
                </ion-item>
                <ion-item button="true" detail="false" (click)="getValueModal('media')">
                  <ion-label>Media</ion-label>
                </ion-item>
                <ion-item button="true" detail="false" (click)="getValueModal('baixa')">
                  <ion-label>Baixa</ion-label>
                </ion-item>
              </ion-list>
          </ng-template>
        </ion-modal>
        <ion-label>Locação</ion-label>

        <div class="location">
          <ion-input [(ngModel)]="latitude" placeholder="Latitude" class="custom" type="text"></ion-input>
          <ion-input [(ngModel)]="longitude" placeholder="Longitude" class="custom" type="text"></ion-input>
        </div>

        <ion-button shape="round" (click)="onSubmit()" class="submit" expand="full" type="submit"
          >Enviar</ion-button
        >
      </div>
    </ion-content>
  </div>
</ion-content>
