<ion-content class="ion-padding">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="header">
        <p>Dados Chamado</p>
        <div class="line"></div>
      </div>

      <div class="form">

        <ion-img [src]="selectedImage" (click)="openImagePicker()"></ion-img>

        <ion-input  [(ngModel)]="title"  placeholder="Titulo" class="custom" type="text"></ion-input>



        <ion-input [(ngModel)]="priority" class="custom" type="text"></ion-input>

        <ion-label>Locação</ion-label>

        <div class="location">
          <ion-input [(ngModel)]="latitude" placeholder="Latitude" class="custom" type="text"></ion-input>
          <ion-input [(ngModel)]="longitude" placeholder="Longitude" class="custom" type="text"></ion-input>
        </div>

        <ion-button (click)="onSubmit()" class="submit" expand="full" type="submit"
          >Enviar</ion-button
        >
      </div>
    </ion-content>
  </div>
</ion-content>
